Repository keboola/keboola-as-code, pull requests merged in 2024-07, with the labels that each got.

#1835 CLI: Fix ignoring branch name for diff
  internal/pkg/diff/diff.go
  internal/pkg/diff/diff_test.go
  internal/pkg/plan/push/push.go
  pkg/lib/operation/project/sync/diff/create/operation.go
  pkg/lib/operation/project/sync/diff/printdiff/operation.go
  pkg/lib/operation/project/sync/pull/operation.go
  pkg/lib/operation/project/sync/push/operation.go
  pkg/lib/operation/template/sync/diff/create/operation.go
  test/cli/allow-target-env/ok-ignoring-branch-name/args
  test/cli/allow-target-env/ok-ignoring-branch-name/env
  test/cli/allow-target-env/ok-ignoring-branch-name/expected-code
  test/cli/allow-target-env/ok-ignoring-branch-name/expected-state.json
  test/cli/allow-target-env/ok-ignoring-branch-name/expected-stderr
  test/cli/allow-target-env/ok-ignoring-branch-name/expected-stdout
  test/cli/allow-target-env/ok-ignoring-branch-name/in/.keboola/manifest.json
  test/cli/allow-target-env/ok-ignoring-branch-name/in/foo/description.md
  test/cli/allow-target-env/ok-ignoring-branch-name/in/foo/meta.json
  test/cli/allow-target-env/ok-ignoring-branch-name/initial-state.json
  test/cli/allow-target-env/ok-ignoring-branch-name/out/.gitkeep
  test/cli/allow-target-env/ok-ignoring-branch-name/out/.keboola/manifest.json
  test/cli/allow-target-env/ok-ignoring-branch-name/out/foo/description.md
  test/cli/allow-target-env/ok-ignoring-branch-name/out/foo/meta.json
  test/cli/allow-target-env/push-changed-config-values/args
  test/cli/allow-target-env/push-changed-config-values/env
  test/cli/allow-target-env/push-changed-config-values/expected-code
  test/cli/allow-target-env/push-changed-config-values/expected-state.json
  test/cli/allow-target-env/push-changed-config-values/expected-stderr
  test/cli/allow-target-env/push-changed-config-values/expected-stdout
  test/cli/allow-target-env/push-changed-config-values/in/.keboola/manifest.json
  test/cli/allow-target-env/push-changed-config-values/in/description.md
  test/cli/allow-target-env/push-changed-config-values/in/main/app/keboola.data-apps/data-app/config.json
  test/cli/allow-target-env/push-changed-config-values/in/main/app/keboola.data-apps/data-app/description.md
  test/cli/allow-target-env/push-changed-config-values/in/main/app/keboola.data-apps/data-app/meta.json
  test/cli/allow-target-env/push-changed-config-values/in/main/description.md
  test/cli/allow-target-env/push-changed-config-values/in/main/meta.json
  test/cli/allow-target-env/push-changed-config-values/initial-state.json
  test/cli/allow-target-env/push-changed-config-values/out/.gitkeep
  test/cli/allow-target-env/push-changed-config-values/out/.keboola/manifest.json
  test/cli/allow-target-env/push-changed-config-values/out/description.md
  test/cli/allow-target-env/push-changed-config-values/out/main/app/keboola.data-apps/data-app/config.json
  test/cli/allow-target-env/push-changed-config-values/out/main/app/keboola.data-apps/data-app/description.md
  test/cli/allow-target-env/push-changed-config-values/out/main/app/keboola.data-apps/data-app/meta.json
  test/cli/allow-target-env/push-changed-config-values/out/main/description.md
  test/cli/allow-target-env/push-changed-config-values/out/main/meta.json
Labels: CLI

#1872 fix: Rename Buffer -> Stream. Also in spans
  README.md
  docs/development.md
  docs/e2e_tests.md
  docs/stream/benchmarks.md
  docs/stream/overview.md
  internal/pkg/service/stream/dependencies/service.go
Labels: streams-R1

#1870 feat: Add table metadata
  internal/pkg/service/stream/keboolasink/bridge/bridge.go
  internal/pkg/service/stream/keboolasink/bridge/bridge_test.go
  internal/pkg/service/stream/keboolasink/bridge/file.go
  internal/pkg/service/stream/keboolasink/bridge/table.go
  internal/pkg/service/stream/keboolasink/bridge/test/table.go
Labels: Stream API

#1874 feat: Move graceful shutdown code to pkgs, where it is missing
  internal/pkg/service/stream/source/httpsource/httpsource_test.go
  internal/pkg/service/stream/storage/level/local/reader/volume/volumes.go
  internal/pkg/service/stream/storage/level/local/reader/volume/volumes_test.go
  internal/pkg/service/stream/storage/level/local/volume/registration/registration.go
  internal/pkg/service/stream/storage/level/local/writer/event_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/volumes.go
  internal/pkg/service/stream/storage/level/local/writer/volume/volumes_test.go
  internal/pkg/service/stream/storage/node/readernode/readernode.go
  internal/pkg/service/stream/storage/node/writernode/writernode.go
  internal/pkg/service/stream/storage/node/writernode/writernode_test.go
  internal/pkg/service/stream/storage/statistics/collector/collector.go
  internal/pkg/service/stream/storage/statistics/collector/collector_test.go
  internal/pkg/utils/netutils/netutils.go
  test/stream/api/base/api-startup/expected-server-stdout
Labels: streams-R1, streams-http-source

#1875 feat: Difference slice statistics by the source node ID
  internal/pkg/service/common/utctime/utctime.go
  internal/pkg/service/stream/keboolasink/bridge/fixtures/enable_sink_ops.txt
  internal/pkg/service/stream/storage/node/writernode/writernode.go
  internal/pkg/service/stream/storage/quota/quota_test.go
  internal/pkg/service/stream/storage/repository/file/fixtures/file_open_ops_001.txt
  internal/pkg/service/stream/storage/repository/file/fixtures/file_rotate_ops_001.txt
  internal/pkg/service/stream/storage/repository/file/fixtures/file_state_ops_001.txt
  internal/pkg/service/stream/storage/repository/slice/fixtures/slice_open_ops_001.txt
  internal/pkg/service/stream/storage/repository/slice/fixtures/slice_rotate_ops_001.txt
  internal/pkg/service/stream/storage/repository/slice/fixtures/slice_state_ops_001.txt
  internal/pkg/service/stream/storage/repository/slice/slice_list.go
  internal/pkg/service/stream/storage/statistics/collector/collector.go
  internal/pkg/service/stream/storage/statistics/collector/collector_test.go
  internal/pkg/service/stream/storage/statistics/collector/fixtures/stats_collector_snapshot_001.txt
  internal/pkg/service/stream/storage/statistics/collector/fixtures/stats_collector_snapshot_002.txt
  internal/pkg/service/stream/storage/statistics/collector/fixtures/stats_collector_snapshot_003.txt
  internal/pkg/service/stream/storage/statistics/collector/fixtures/stats_collector_snapshot_004.txt
  internal/pkg/service/stream/storage/statistics/collector/fixtures/stats_collector_snapshot_005.txt
  internal/pkg/service/stream/storage/statistics/provider_test.go
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_alloc_on_rotate_ops.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_delete_snapshot_001.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_delete_snapshot_002.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_move_snapshot_001.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_move_snapshot_002.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_open_snapshot_001.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_open_snapshot_002.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_put_snapshot_001.txt
  internal/pkg/service/stream/storage/statistics/repository/fixtures/stats_put_snapshot_002.txt
  internal/pkg/service/stream/storage/statistics/repository/stats_allocation.go
  internal/pkg/service/stream/storage/statistics/repository/stats_allocation_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_delete_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_files_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_get.go
  internal/pkg/service/stream/storage/statistics/repository/stats_get_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_move.go
  internal/pkg/service/stream/storage/statistics/repository/stats_move_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_open.go
  internal/pkg/service/stream/storage/statistics/repository/stats_open_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_put.go
  internal/pkg/service/stream/storage/statistics/repository/stats_put_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_repo.go
  internal/pkg/service/stream/storage/statistics/repository/stats_schema.go
  internal/pkg/service/stream/storage/statistics/repository/stats_schema_test.go
  internal/pkg/service/stream/storage/statistics/repository/stats_watch_test.go
  internal/pkg/service/stream/storage/statistics/statistics.go
Labels: streams-R1, streams-http-source

#1876 feat: local storage writer: remove stats backup file
  internal/pkg/service/stream/storage/level/local/writer/format/csv/csv_test.go
  internal/pkg/service/stream/storage/level/local/writer/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/level/local/writer/test/testcase/testcase.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer_linux_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer_test.go
  internal/pkg/service/stream/storage/level/local/writer/writer.go
  internal/pkg/service/stream/storage/level/local/writer/writer_test.go
Labels: streams-R1, streams-http-source

#1879 refactor: Move pkgs to sourcenode/writernode dirs
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/storage/level/config_test.go
  internal/pkg/service/stream/storage/level/local/model/file.go
  internal/pkg/service/stream/storage/level/local/model/file_test.go
  internal/pkg/service/stream/storage/level/local/model/slice.go
  internal/pkg/service/stream/storage/level/local/model/slice_test.go
  internal/pkg/service/stream/storage/level/local/volume/config.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/count/counter.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/count/counter_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/csv.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/csv.svg
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/csv_benchmark_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/csv_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/fastcsv/error.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/fastcsv/fastcsv.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/fastcsv/writer.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/factory/factory.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/factory/factory_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/limitbuffer/buffer.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/size/size.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/size/size_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/chain.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/chain.svg
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/chain_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/closer.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/dump.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/dump_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/flusher.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writechain/writer.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/config.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/config_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/notify/notify.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/notify/notify_test.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/sync.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/sync.svg
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/writesync/sync_test.go
  internal/pkg/service/stream/storage/level/local/writer/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/level/local/writer/test/testcase/testcase.go
  internal/pkg/service/stream/storage/level/local/writer/test/writer.go
  internal/pkg/service/stream/storage/level/local/writer/volume/config.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer_linux_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer_test.go
  internal/pkg/service/stream/storage/level/local/writer/writer.go
  internal/pkg/service/stream/storage/level/local/writer/writer_test.go
  internal/pkg/service/stream/storage/level/local/writer/writernode/diskalloc/allocator.go
  internal/pkg/service/stream/storage/level/local/writer/writernode/diskalloc/allocator_linux.go
  internal/pkg/service/stream/storage/level/local/writer/writernode/diskalloc/allocator_linux_test.go
  internal/pkg/service/stream/storage/level/local/writer/writernode/diskalloc/allocator_other.go
  internal/pkg/service/stream/storage/level/local/writer/writernode/diskalloc/config.go
  internal/pkg/service/stream/storage/level/local/writer/writernode/diskalloc/config_test.go
  internal/pkg/service/stream/storage/model/file_test.go
  internal/pkg/service/stream/storage/model/slice_test.go
  internal/pkg/service/stream/storage/test/file.go
  internal/pkg/service/stream/storage/test/slice.go
  internal/pkg/service/stream/storage/test/testconfig/testconfig.go
Labels: streams-R1, streams-http-source

#1880 refactor: Move format.go -> sourcenode/format/format.go
  .github/workflows/test-k8s-service-apps-proxy.yml
  .github/workflows/test-k8s-service-stream.yml
  .github/workflows/test-k8s-service-templates.yml
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/storage/level/local/writer/config.go
  internal/pkg/service/stream/storage/level/local/writer/format.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/config.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/csv/csv.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/factory/factory.go
  internal/pkg/service/stream/storage/level/local/writer/sourcenode/format/format.go
  internal/pkg/service/stream/storage/level/local/writer/test/writer.go
  internal/pkg/service/stream/storage/level/local/writer/volume/config.go
  internal/pkg/service/stream/storage/level/local/writer/writer.go
  internal/pkg/service/stream/storage/level/local/writer/writer_test.go
  provisioning/stream/kubernetes/templates/config/config-map.yaml
  provisioning/stream/local.sh
  test/stream/api/source/settings-001-all/003-get-settings/expected-response.json
  test/stream/api/source/settings-001-all/010-get-settings/expected-response.json
Labels: streams-R1, streams-http-source

#1881 build: Stream k8s test: enable diff between old/new version
  .github/workflows/test-k8s-service-stream.yml
Labels: streams-R1, streams-http-source

#1885 tests: Move reader/writer code
  internal/pkg/service/common/etcdop/watchmirror_test.go
  internal/pkg/service/stream/storage/level/local/reader/reader_test.go
  internal/pkg/service/stream/storage/level/local/reader/volume/file_test.go
  internal/pkg/service/stream/storage/level/local/reader/volume/volume.go
  internal/pkg/service/stream/storage/level/local/reader/volume/volume_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/drain_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/file_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/volume.go
  internal/pkg/service/stream/storage/level/local/writer/volume/volume_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer_linux_test.go
  internal/pkg/service/stream/storage/level/local/writer/volume/writer_test.go
  internal/pkg/service/stream/storage/level/local/writer/writer_test.go
  internal/pkg/service/stream/storage/test/reader_case.go
  internal/pkg/service/stream/storage/test/reader_file.go
  internal/pkg/service/stream/storage/test/writer_case.go
  internal/pkg/service/stream/storage/test/writer_file.go
Labels: streams-R1, streams-http-source

#1894 feat: Add disk writer network transport layer (kcp-go/yamux)
  go.mod
  go.sum
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/storage/level/local/config_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/config.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/config.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_stream.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  provisioning/stream/kubernetes/templates/config/config-map.yaml
  provisioning/stream/kubernetes/templates/http-source/network-policy.yaml
  provisioning/stream/kubernetes/templates/storage-writer-reader/statefulset.yaml
Labels: streams-R1, streams-http-source

#1895 feat: Network transport (2) - TCP/KCP protocol can be switched by cfg
  .github/actions/go-setup/action.yml
  .github/workflows/test-lint.yml
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/storage/level/local/config_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/config.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_kcp.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_tcp.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/util.go
  provisioning/stream/kubernetes/templates/config/config-map.yaml
  provisioning/stream/kubernetes/templates/storage-writer-reader/statefulset.yaml
Labels: streams-R1, streams-http-source

#1898 feat: Add Mirror OnUpdate callbacks
  internal/pkg/service/common/etcdop/watchmirror.go
  internal/pkg/service/common/etcdop/watchmirror_test.go
  internal/pkg/service/common/etcdop/watchtyped.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  provisioning/dev/docker/Dockerfile
Labels: streams-R1, streams-http-source

#1892 feat: Add flag `header` for download table command
  internal/pkg/service/cli/cmd/remote/table/download/cmd.go
  pkg/lib/operation/project/remote/file/download/operation.go
  pkg/lib/operation/project/remote/file/download/options.go
  test/cli/help/remote-table-download/expected-stdout
  test/cli/remote-table-download/with-columns/args
  test/cli/remote-table-download/with-columns/expected-code
  test/cli/remote-table-download/with-columns/expected-state.json
  test/cli/remote-table-download/with-columns/expected-stderr
  test/cli/remote-table-download/with-columns/expected-stdout
  test/cli/remote-table-download/with-columns/in/.gitkeep
  test/cli/remote-table-download/with-columns/initial-state.json
  test/cli/remote-table-download/with-columns/out/.gitkeep
  test/cli/remote-table-download/with-columns/out/data.csv
  test/cli/remote-table-download/with-header-columns-order/args
  test/cli/remote-table-download/with-header-columns-order/expected-code
  test/cli/remote-table-download/with-header-columns-order/expected-state.json
  test/cli/remote-table-download/with-header-columns-order/expected-stderr
  test/cli/remote-table-download/with-header-columns-order/expected-stdout
  test/cli/remote-table-download/with-header-columns-order/in/.gitkeep
  test/cli/remote-table-download/with-header-columns-order/initial-state.json
  test/cli/remote-table-download/with-header-columns-order/out/.gitkeep
  test/cli/remote-table-download/with-header-columns-order/out/data.csv
  test/cli/remote-table-download/with-header-columns-where/args
  test/cli/remote-table-download/with-header-columns-where/expected-code
  test/cli/remote-table-download/with-header-columns-where/expected-state.json
  test/cli/remote-table-download/with-header-columns-where/expected-stderr
  test/cli/remote-table-download/with-header-columns-where/expected-stdout
  test/cli/remote-table-download/with-header-columns-where/in/.gitkeep
  test/cli/remote-table-download/with-header-columns-where/initial-state.json
  test/cli/remote-table-download/with-header-columns-where/out/.gitkeep
  test/cli/remote-table-download/with-header-columns-where/out/data.csv
  test/cli/remote-table-download/with-header-columns/args
  test/cli/remote-table-download/with-header-columns/expected-code
  test/cli/remote-table-download/with-header-columns/expected-state.json
  test/cli/remote-table-download/with-header-columns/expected-stderr
  test/cli/remote-table-download/with-header-columns/expected-stdout
  test/cli/remote-table-download/with-header-columns/in/.gitkeep
  test/cli/remote-table-download/with-header-columns/initial-state.json
  test/cli/remote-table-download/with-header-columns/out/.gitkeep
  test/cli/remote-table-download/with-header-columns/out/data.csv
  test/cli/remote-table-download/with-header/args
  test/cli/remote-table-download/with-header/expected-code
  test/cli/remote-table-download/with-header/expected-state.json
  test/cli/remote-table-download/with-header/expected-stderr
  test/cli/remote-table-download/with-header/expected-stdout
  test/cli/remote-table-download/with-header/in/.gitkeep
  test/cli/remote-table-download/with-header/initial-state.json
  test/cli/remote-table-download/with-header/out/.gitkeep
  test/cli/remote-table-download/with-header/out/data.csv
  test/cli/remote-table-download/with-where/args
  test/cli/remote-table-download/with-where/expected-code
  test/cli/remote-table-download/with-where/expected-state.json
  test/cli/remote-table-download/with-where/expected-stderr
  test/cli/remote-table-download/with-where/expected-stdout
  test/cli/remote-table-download/with-where/in/.gitkeep
  test/cli/remote-table-download/with-where/initial-state.json
  test/cli/remote-table-download/with-where/out/.gitkeep
  test/cli/remote-table-download/with-where/out/data.csv
Labels: CLI

#1903 feat: Route records from HTTP source to sinks
  go.mod
  internal/pkg/encoding/jsonnet/vm.go
  internal/pkg/service/common/dependencies/dependencies.go
  internal/pkg/service/common/dependencies/requestinfo.go
  internal/pkg/service/common/etcdop/mutex.go
  internal/pkg/service/common/etcdop/op/op_result_test.go
  internal/pkg/service/common/etcdop/op/txn_result_test.go
  internal/pkg/service/common/etcdop/watchmirror.go
  internal/pkg/service/common/etcdop/watchmirror_test.go
  internal/pkg/service/common/etcdop/watchtyped.go
  internal/pkg/service/stream/api/mapper/source_response.go
  internal/pkg/service/stream/api/receive/receivectx/receivectx.go
  internal/pkg/service/stream/api/service/source.go
  internal/pkg/service/stream/components.go
  internal/pkg/service/stream/definition/key/branch.go
  internal/pkg/service/stream/definition/key/sink.go
  internal/pkg/service/stream/definition/key/source.go
  internal/pkg/service/stream/definition/repository/sink/sink_repo.go
  internal/pkg/service/stream/definition/repository/sink/sink_watch.go
  internal/pkg/service/stream/definition/repository/source/source_repo.go
  internal/pkg/service/stream/definition/repository/source/source_watch.go
  internal/pkg/service/stream/dependencies/dependencies.go
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/dependencies/source.go
  internal/pkg/service/stream/mapping/jsonnet/jsonnet.go
  internal/pkg/service/stream/mapping/jsonnet/jsonnet_test.go
  internal/pkg/service/stream/mapping/recordctx/fasthttp.go
  internal/pkg/service/stream/mapping/recordctx/http.go
  internal/pkg/service/stream/mapping/recordctx/recordctx.go
  internal/pkg/service/stream/mapping/recordctx/utils.go
  internal/pkg/service/stream/mapping/recordctx/utils_test.go
  internal/pkg/service/stream/mapping/table/column/renderer.go
  internal/pkg/service/stream/mapping/table/column/renderer_benchmark_test.go
  internal/pkg/service/stream/mapping/table/column/renderer_test.go
  internal/pkg/service/stream/plugin/plugin.go
  internal/pkg/service/stream/plugin/sink.go
  internal/pkg/service/stream/sink/config.go
  internal/pkg/service/stream/sink/pipeline/pipeline.go
  internal/pkg/service/stream/sink/router/error.go
  internal/pkg/service/stream/sink/router/pipeline.go
  internal/pkg/service/stream/sink/router/result.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/sink/type/tablesink/config.go
  internal/pkg/service/stream/source/httpsource/dispatcher/dispatcher.go
  internal/pkg/service/stream/source/httpsource/dispatcher/error.go
  internal/pkg/service/stream/source/httpsource/httpsource.go
  internal/pkg/service/stream/source/httpsource/httpsource_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
Labels: streams-R1, streams-http-source

#1905 feat: Add hostname field to volume metadata
  internal/pkg/service/common/etcdop/watchconsumer.go
  internal/pkg/service/common/task/orchestrator/orchestrator_test.go
  internal/pkg/service/stream/config/config.go
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/dependencies/service.go
  internal/pkg/service/stream/sink/router/pipeline.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/source/httpsource/httpsource_test.go
  internal/pkg/service/stream/storage/level/local/diskreader/volume_test.go
  internal/pkg/service/stream/storage/level/local/diskreader/volumes.go
  internal/pkg/service/stream/storage/level/local/diskreader/volumes_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/volume_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/volumes.go
  internal/pkg/service/stream/storage/level/local/diskwriter/volumes_test.go
  internal/pkg/service/stream/storage/level/local/events/event_test.go
  internal/pkg/service/stream/storage/level/local/volume/assignment/assigner_test.go
  internal/pkg/service/stream/storage/level/local/volume/model/volume.go
  internal/pkg/service/stream/storage/level/local/volume/opener/opener.go
  internal/pkg/service/stream/storage/level/local/volume/opener/opener_test.go
  internal/pkg/service/stream/storage/level/local/volume/registration/registration_test.go
  internal/pkg/service/stream/storage/model/repository/volume/repo_test.go
  internal/pkg/service/stream/storage/node/readernode/readernode.go
  internal/pkg/service/stream/storage/node/writernode/writernode.go
  internal/pkg/service/stream/storage/node/writernode/writernode_test.go
  internal/pkg/service/stream/storage/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/test/testcase/testcase.go
  internal/pkg/service/stream/storage/test/volume.go
  provisioning/stream/dev/.air.toml
  provisioning/stream/kubernetes/templates/api/deployment.yaml
  provisioning/stream/kubernetes/templates/config/config-map.yaml
  provisioning/stream/kubernetes/templates/http-source/deployment.yaml
  provisioning/stream/kubernetes/templates/storage-coordinator/deployment.yaml
  provisioning/stream/kubernetes/templates/storage-writer-reader/statefulset.yaml
  test/stream/api/api_test.go
  test/stream/api/base/api-startup/expected-server-stdout
Labels: streams-R1, streams-http-source

#1906 fix: Sentinel error instead of nil check.
  internal/pkg/service/stream/definition/errors.go
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/plugin/sink.go
  internal/pkg/service/stream/sink/router/pipeline.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/sink/router/utils.go
Labels: streams-R1, streams-http-source

#1908 feat: Writer volume - report also node port
  internal/pkg/service/common/prefixtree/prefixtree.go
  internal/pkg/service/stream/storage/level/local/diskreader/volume_test.go
  internal/pkg/service/stream/storage/level/local/diskreader/volumes.go
  internal/pkg/service/stream/storage/level/local/diskreader/volumes_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/volume_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/volumes.go
  internal/pkg/service/stream/storage/level/local/volume/assignment/assigner_test.go
  internal/pkg/service/stream/storage/level/local/volume/model/volume.go
  internal/pkg/service/stream/storage/level/local/volume/opener/opener.go
  internal/pkg/service/stream/storage/level/local/volume/opener/opener_test.go
  internal/pkg/service/stream/storage/level/local/volume/registration/registration_test.go
  internal/pkg/service/stream/storage/model/repository/volume/repo_test.go
  internal/pkg/service/stream/storage/node/readernode/readernode.go
  internal/pkg/service/stream/storage/node/writernode/writernode.go
  internal/pkg/service/stream/storage/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/test/testcase/testcase.go
  internal/pkg/service/stream/storage/test/volume.go
  test/stream/api/api_test.go
Labels: streams-R1, streams-http-source

#1909 feat: Add column.Renderer to csv.Encoder, modify the interface
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/mapping/recordctx/fasthttp.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  internal/pkg/service/stream/storage/level/local/encoding/encoder/csv/csv.go
  internal/pkg/service/stream/storage/level/local/encoding/encoder/csv/csv_benchmark_test.go
  internal/pkg/service/stream/storage/level/local/encoding/encoder/csv/csv_test.go
  internal/pkg/service/stream/storage/level/local/encoding/encoder/encoder.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline_test.go
  internal/pkg/service/stream/storage/statistics/collector/collector_test.go
  internal/pkg/service/stream/storage/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/test/slice.go
  internal/pkg/service/stream/storage/test/testcase/testcase.go
Labels: streams-R1, streams-http-source

#1911 feat: Add connection.Manager for Source -> Disk Writer nodes connections
  internal/pkg/service/common/etcdop/session.go
  internal/pkg/service/common/etcdop/watchmirror.go
  internal/pkg/service/common/etcdop/watchmirror_test.go
  internal/pkg/service/stream/dependencies/dependencies.go
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/sink/pipeline/test.go
  internal/pkg/service/stream/sink/router/pipeline.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/source/httpsource/dispatcher/dispatcher.go
  internal/pkg/service/stream/source/httpsource/httpsource_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/router/connection/connection.go
  internal/pkg/service/stream/storage/level/local/diskwriter/router/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/volume/registration/registration.go
  internal/pkg/service/stream/storage/model/repository/file/file_repo.go
  internal/pkg/service/stream/storage/model/repository/file/file_watch.go
  internal/pkg/service/stream/storage/model/repository/slice/slice_repo.go
  internal/pkg/service/stream/storage/model/repository/slice/slice_watch.go
  internal/pkg/service/stream/storage/model/repository/volume/volume_repo.go
  internal/pkg/service/stream/storage/model/repository/volume/volume_repo_test.go
  internal/pkg/service/stream/storage/model/repository/volume/volume_watch.go
  internal/pkg/service/stream/storage/node/coordinator/coordinator.go
  internal/pkg/service/stream/storage/node/readernode/readernode.go
  internal/pkg/service/stream/storage/node/writernode/writernode.go
  internal/pkg/service/stream/storage/statistics/cache/l1.go
Labels: streams-R1, streams-http-source

#1915 feat: Add assignment pkg: assign opened sink slices -> source nodes
  internal/pkg/service/common/dependencies/distribution.go
  internal/pkg/service/common/dependencies/mocked.go
  internal/pkg/service/common/distribution/assigner.go
  internal/pkg/service/common/etcdop/watchmirror.go
  internal/pkg/service/common/etcdop/watchmirror_test.go
  internal/pkg/service/stream/components.go
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/definition/errors.go
  internal/pkg/service/stream/dependencies/dependencies.go
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/dependencies/service.go
  internal/pkg/service/stream/dependencies/source.go
  internal/pkg/service/stream/keboolasink/bridge/bridge.go
  internal/pkg/service/stream/plugin/plugin.go
  internal/pkg/service/stream/plugin/sink.go
  internal/pkg/service/stream/plugin/storage.go
  internal/pkg/service/stream/sink/pipeline/pipeline.go
  internal/pkg/service/stream/sink/router/error.go
  internal/pkg/service/stream/sink/router/pipeline.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/source/httpsource/dispatcher/dispatcher.go
  internal/pkg/service/stream/source/httpsource/httpsource.go
  internal/pkg/service/stream/source/httpsource/httpsource_test.go
  internal/pkg/service/stream/storage/level/local/config_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/config.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/assignment/assign.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/assignment/assign_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_stream.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  internal/pkg/service/stream/storage/level/local/encoding/encoder/factory_test.go
  internal/pkg/service/stream/storage/level/local/encoding/file.go
  internal/pkg/service/stream/storage/level/local/encoding/manager.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline_test.go
  internal/pkg/service/stream/storage/model/repository/file/file_close.go
  internal/pkg/service/stream/storage/model/repository/file/file_new.go
  internal/pkg/service/stream/storage/model/repository/file/file_new_test.go
  internal/pkg/service/stream/storage/model/repository/file/file_open.go
  internal/pkg/service/stream/storage/model/repository/file/file_rotate.go
  provisioning/stream/kubernetes/templates/config/config-map.yaml
Labels: streams-R1, streams-http-source

#1923 feat: Add Upload/Import configs to Slice/File entities
  internal/pkg/service/stream/config/config_test.go
  internal/pkg/service/stream/keboolasink/bridge/fixtures/create_sink_snapshot.txt
  internal/pkg/service/stream/storage/level/config.go
  internal/pkg/service/stream/storage/level/config_test.go
  internal/pkg/service/stream/storage/level/local/config/config.go
  internal/pkg/service/stream/storage/level/local/config/config_test.go
  internal/pkg/service/stream/storage/level/local/factory.go
  internal/pkg/service/stream/storage/level/staging/config/config.go
  internal/pkg/service/stream/storage/level/staging/config/config_test.go
  internal/pkg/service/stream/storage/level/staging/factory.go
  internal/pkg/service/stream/storage/level/staging/model/file.go
  internal/pkg/service/stream/storage/level/staging/model/file_test.go
  internal/pkg/service/stream/storage/level/staging/model/slice.go
  internal/pkg/service/stream/storage/level/staging/model/slice_test.go
  internal/pkg/service/stream/storage/level/target/config/config.go
  internal/pkg/service/stream/storage/level/target/config/config_test.go
  internal/pkg/service/stream/storage/level/target/factory.go
  internal/pkg/service/stream/storage/level/target/model/target.go
  internal/pkg/service/stream/storage/level/target/model/target_test.go
  internal/pkg/service/stream/storage/model/file_test.go
  internal/pkg/service/stream/storage/model/repository/file/file_new.go
  internal/pkg/service/stream/storage/model/slice_test.go
  internal/pkg/service/stream/storage/test/file.go
  internal/pkg/service/stream/storage/test/slice.go
  internal/pkg/service/stream/storage/test/testconfig/testconfig.go
  test/stream/api/sink/statistics-files-001-ok/initial-etcd-kvs.txt
  test/stream/api/source/aggregation-002-ok/initial-etcd-kvs.txt
Labels: streams-R1, coordinator

#1929 fix: Identify diskwriter.Writer by the writer key, not slice key
  cmd/stream/main.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/balancer.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/pipeline_slice.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/volume.go
  internal/pkg/service/stream/storage/level/local/diskwriter/writer.go
  internal/pkg/service/stream/storage/level/local/diskwriter/writer_linux_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/writer_test.go
  internal/pkg/service/stream/storage/node/writernode/writernode.go
Labels: streams-R1, streams-http-source

#1930 feat: Improve etcdop.WatchConsumer: Add Restart method
  internal/pkg/service/common/distribution/node.go
  internal/pkg/service/common/etcdop/watch.go
  internal/pkg/service/common/etcdop/watch_event.go
  internal/pkg/service/common/etcdop/watch_restart.go
  internal/pkg/service/common/etcdop/watch_test.go
  internal/pkg/service/common/etcdop/watchconsumer.go
  internal/pkg/service/common/etcdop/watchconsumer_test.go
  internal/pkg/service/common/etcdop/watchmirror.go
  internal/pkg/service/common/etcdop/watchmirror_test.go
  internal/pkg/service/common/etcdop/watchtyped.go
  internal/pkg/service/common/etcdop/watchtyped_event.go
  internal/pkg/service/common/etcdop/watchtyped_restart.go
  internal/pkg/service/common/task/orchestrator/orchestrator.go
  internal/pkg/service/common/task/orchestrator/orchestrator_test.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/source/httpsource/dispatcher/dispatcher.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/model/repository/volume/volume_repo.go
  internal/pkg/service/stream/storage/statistics/cache/l1.go
Labels: streams-R1, coordinator

#1932 feat: Add etcdop MirrorMap
  internal/pkg/service/common/distribution/node.go
  internal/pkg/service/common/etcdop/iterator/iterator_test.go
  internal/pkg/service/common/etcdop/watch.go
  internal/pkg/service/common/etcdop/watch_consumer.go
  internal/pkg/service/common/etcdop/watch_consumer_test.go
  internal/pkg/service/common/etcdop/watch_event.go
  internal/pkg/service/common/etcdop/watch_mirror.go
  internal/pkg/service/common/etcdop/watch_mirror_map.go
  internal/pkg/service/common/etcdop/watch_mirror_map_test.go
  internal/pkg/service/common/etcdop/watch_mirror_tree.go
  internal/pkg/service/common/etcdop/watch_mirror_tree_test.go
  internal/pkg/service/common/etcdop/watch_restart.go
  internal/pkg/service/common/etcdop/watch_test.go
  internal/pkg/service/common/etcdop/watch_typed.go
  internal/pkg/service/common/etcdop/watch_typed_test.go
  internal/pkg/service/common/etcdop/watchmirror.go
  internal/pkg/service/common/etcdop/watchtyped_event.go
  internal/pkg/service/common/etcdop/watchtyped_restart.go
  internal/pkg/service/common/task/orchestrator/config.go
  internal/pkg/service/common/task/orchestrator/orchestrator.go
  internal/pkg/service/common/task/orchestrator/orchestrator_test.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/source/httpsource/dispatcher/dispatcher.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/server.go
  internal/pkg/service/stream/storage/model/repository/volume/volume_repo.go
  internal/pkg/service/stream/storage/statistics/cache/l1.go
  internal/pkg/service/stream/storage/statistics/repository/stats_watch_test.go
  internal/pkg/service/stream/storage/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/test/testcase/testcase.go
Labels: streams-R1, coordinator

#1935 feat: Rotate pipelines on slices changes
  internal/pkg/service/common/etcdop/watch_mirror.go
  internal/pkg/service/stream/dependencies/mocked.go
  internal/pkg/service/stream/dependencies/service.go
  internal/pkg/service/stream/plugin/helper_test.go
  internal/pkg/service/stream/sink/router/result.go
  internal/pkg/service/stream/sink/router/router.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/balancer.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/balancer_rand_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/error.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/pipeline_balanced.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/pipeline_slice.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/client.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/common.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/pb/networkFile.pb.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/pb/networkFile.proto
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/rpc_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/rpc/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/client_conn.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/server.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/transport/transport_test.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline_test.go
  internal/pkg/service/stream/storage/level/local/encoding/writesync/notify/notify.go
  internal/pkg/service/stream/storage/level/local/encoding/writesync/notify/notify_test.go
  internal/pkg/service/stream/storage/level/local/encoding/writesync/sync.go
  internal/pkg/service/stream/storage/level/local/encoding/writesync/sync_test.go
  internal/pkg/service/stream/storage/node/writernode/writernode.go
  internal/pkg/service/stream/storage/statistics/collector/collector.go
  internal/pkg/service/stream/storage/statistics/config.go
  internal/pkg/service/stream/storage/test/benchmark/benchmark.go
  internal/pkg/service/stream/storage/test/dummy/dummy.go
  internal/pkg/service/stream/storage/test/sink.go
  internal/pkg/service/stream/storage/test/testcase/testcase.go
  internal/pkg/service/stream/storage/test/testnode/sourcenode.go
  internal/pkg/service/stream/storage/test/testnode/writernode.go
Labels: streams-R1, coordinator

#1936 feat: Add closesync pkg to sync between source and coordinators nodes
  internal/pkg/service/common/dependencies/etcdclient.go
  internal/pkg/service/common/etcdop/op/atomic_do.go
  internal/pkg/service/common/etcdop/op/atomic_result.go
  internal/pkg/service/common/etcdop/session.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/connection/connection_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/closesync/closesync.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/closesync/closesync_test.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/closesync/coordinator.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/closesync/source.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router.go
  internal/pkg/service/stream/storage/level/local/diskwriter/network/router/router_test.go
  internal/pkg/service/stream/storage/level/local/encoding/chunk/writer.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline.go
  internal/pkg/service/stream/storage/level/local/encoding/pipeline_test.go
Labels: streams-R1, coordinator

#1934 feat: Ignoring isDefault field for branch in diff
  internal/pkg/diff/diff.go
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/args
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/env
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/expected-code
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/expected-state.json
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/expected-stderr
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/expected-stdout
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/in/.keboola/manifest.json
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/in/description.md
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/in/main/description.md
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/in/main/meta.json
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/initial-state.json
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/out/.gitkeep
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/out/.keboola/manifest.json
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/out/description.md
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/out/main/description.md
  test/cli/allow-target-env/ok-ignoring-isdefault-branch/out/main/meta.json
Labels: CLI
